# Ratings Data Cleaning

Input file: ratings_Electronics.csv (Accessed from: http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Electronics.csv)

Output file: ratings.csv

In [9]:
import pandas as pd
import numpy as np
import datetime as dt

# Set all floats to display only 0 decimal points
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [10]:
colnames = ["item_id", "user_id", "rating", "date"]
ratings = pd.read_csv("ratings_Electronics.csv", header = None, names = colnames)

In [11]:
ratings['date'] = pd.to_datetime(ratings['date'],unit='s')

In [12]:
ratings.head()

      item_id         user_id  rating       date
0  0060009810  A1N070NS9CJQ2I       5 2002-07-17
1  0060009810  A3P0KRKOBQK1KN       5 2002-07-06
2  0060009810  A192HO2ICJ75VU       5 2002-07-03
3  0060009810  A2T278FKFL3BLT       4 2002-06-30
4  0060009810  A2ZUXVTW8RXBXW       5 2002-06-28

In [13]:
len(ratings)

20994353

In [17]:
ratings.drop_duplicates(subset = ['item_id', 'user_id'], inplace = True)
len(ratings)

20553480

In [21]:
#ratings[(ratings['item_id'] == "B0027838CU") & (ratings['user_id'] =="B0027838CU")]
ratings[ratings['item_id'] == "B0027838CU"][ratings['user_id'] == "A1RFMQKXX0KF1U"]

/var/folders/d7/r_slgx394x7008mdj1mj14v40000gn/T/ipykernel_6889/3762931660.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ratings[ratings['item_id'] == "B0027838CU"][ratings['user_id'] == "A1RFMQKXX0KF1U"]

            item_id         user_id  rating       date
3387697  B0027838CU  A1RFMQKXX0KF1U       4 2014-12-23

In [22]:
ratings.dtypes

item_id            object
user_id            object
rating            float64
date       datetime64[ns]
dtype: object

In [23]:
ratings.to_csv("ratings.csv", header = False, index = False)